<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
      Angular
    </a>
    <div class="header item borderless">
      <h1 class="ui header">
        Angular Simple Reddit
      </h1>
    </div>
    <app-counter [count]="articleCount()" (onInfoClicked)="handleInfoClick($event)"></app-counter>
  </div>
</div>

<div class="ui main text container">
  <form class="ui large form segment">
    <h3 class="ui header">Add a Link</h3>
    <div class="field">
      <label for="title">Title:</label>
      <input name="title" id="title" #newTitle>
    </div>

    <div class="field">
      <label for="link">Link:</label>
      <input name="link" id="link" #newLink>
    </div>

    <div class="field">
      <label for="description">Description:</label>
      <input name="description" id="description" #newDescription>
    </div>

    <button (click)="addArticle(newTitle, newLink, newDescription)"
      class="ui button positive right floated">Submit</button>

  </form>

  <div [ngSwitch]="articleCount()" class="ui message">
    <div *ngSwitchCase="1">There is <span style="color: red;">ONE</span> article</div>
    <div *ngSwitchCase="2">There are <span [style.color]="'green'">TWO</span> articles</div>
    <div *ngSwitchCase="3">There are <span [style.font-size.px]="20">THREE</span> articles</div>
    <div *ngSwitchDefault>There are <span [ngStyle]="{color:'blue', 'font-size':24 + 'px'}">MORE</span> articles</div>
  </div>

  <div class="{{getArticlesClass()}}">
    <div class="ui grid posts">
      <div class="ui slider checkbox">
        <input (click)="toggleShowDeleted(showDeleted)" #showDeleted type="checkbox" name="newsletter">
        <label>Show deleted items</label>
      </div>

      <app-article *ngFor="let articleItem of sortedArticles(); let i = index" [article]="articleItem"
        [orderNumber]="i + 1" (onDelete)="permanentDelete($event)">
      </app-article>
    </div>
  </div>
</div>